<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GwanjaLoveProto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/CanabisLeafVector.ico" />
</head>
<body>
    <header class="header-style">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom navbar-style fixed-top ps-2">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/ScientistsCheckingHemp.jpg" class="navbar-brand-height" alt="Scientists inspecting a Hemp Leaf with magnifying glasses" />
                GwanjaLoveProto
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="row border-secondary-top px-2 footer-style rasta-radial-background">
        <div class="col-sm-12 col-md-4 border-secondary-end">
            <h6 class="text-success footer-secondary-bottom pb-1">Quick Links</h6>
            <ul class="footer-items">
                <li>
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Home</a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="Products" class="text-decoration-none">Products</a>
                </li>
                <li>
                    <a asp-controller="Service" asp-action="Services" class="text-decoration-none">Services</a>
                </li>
                <li>
                    <a asp-controller="Order" asp-action="Orders" class="text-decoration-none">Orders</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Privacy</a>
                </li>
            </ul>
            <span class="text-muted">
                &copy; 2024 - GwanjaLoveProto
            </span>
        </div>
        <div class="col-sm-12 col-md-4 border-secondary-end footer-style footer-scroll">
            <h6 class="text-success footer-secondary-bottom pb-1">Logos</h6>
            <ul class="footer-items overflow-auto">
                <li>
                    <a href="http://tastypuff.com" target="_blank">
                    <img src="~/images/TastyPuffLogo.jpeg" asp-controller="Home" asp-action="Index" class="footer-img" alt="TastyPuff Logo" />
                    </a>
                </li>
                <li>
                    <a href="http://www.barneysfarm.com" target="_blank">
                    <img src="~/images/BarneyFarmLogo.png" asp-controller="Product" asp-action="Products" class="footer-img" alt="Barney's farm Logo"/>
                    </a>
                </li>
                <li>
                    <a href="https://honeypuffofficial.com" target="_blank">
                    <img src="~/images/HoneyPuffLogo.jpeg" asp-controller="Service" asp-action="Services" class="footer-img" alt="HoneyPuff Logo">
                    </a>
                </li>
                <li>
                    <a href="https://rawthentic.com" target="_blank">
                    <img src="~/images/RawLogo.png" asp-controller="Order" asp-action="Orders" class="footer-img" alt="Raw Smoke Logo">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h6 class="text-success footer-secondary-bottom pb-1">Services</h6>
            <ul class="footer-items">
                <li>
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Assistive Growing</a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="Products" class="text-decoration-none">Grow area setup</a>
                </li>
                <li>
                    <a asp-controller="Service" asp-action="Services" class="text-decoration-none">Harvesting</a>
                </li>
                <li>
                    <a asp-controller="Order" asp-action="Orders" class="text-decoration-none">Orders</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Privacy</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
